header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00638C;
    padding: 2rem;
}

.nav{
    width: 100%;
    height: 5.9rem;
}

.hamburguesa{
    display: none;
}
.cerrar-menu{
    display: none;
}


.nav .nav-list{
    position: absolute;
    display: flex;
    width: 75%;
    justify-content: flex-end;
    list-style: none;
    flex-direction: row;
    padding-top: 1.2rem;
    gap: 2.5rem;
}

.nav .nav-list li a{
    font-family:system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav .nav-list a:hover{
    border-bottom: 0.2rem solid #C6EAFF;
}

header img{
    width: 8rem;
}

body{
    background-color: beige;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    overflow-x:hidden ;
}

/*estilo del index*/
.grupo{
    background-color: #e7e7e7;
    margin: 4rem;
    border-radius:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}
.grupo ul{
    list-style: none;
    text-align: left;
}
.grupo img{
    width: 20rem;
    display: flex;
    justify-content: center;
}

/*estilo de "integrantes"*/
.integrantes{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

.integrantes .img-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.integrantes .img-bottom{
    display: flex;
    justify-content: center;
}

.integrantes img{
    width: 15rem;
    padding: 3rem;
    border-radius: 6rem;
}
.integrantes .img-top .carraro img{
    height: 20rem;
    width: 16rem;
}
.integrantes .img-bottom .hokama img{
    width: 15rem;
    height: 20rem;
}

/*Estilo de "proyecto*/
.proyecto{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 4rem;
    background-color: #e7e7e7;
    border-radius: 1rem;
    padding: 2rem;
}


/*estilo de avances*/

.avances_sitio{
    text-align: center;
    background-color: #e7e7e7;
    border-radius: 1rem;
    margin: 9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.avances_sitio .propuesta{
    margin: 5rem;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
}

.avances_sitio .paleta{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.avances_sitio .paleta #azul_oscuro{
    background-color: rgb(0, 99, 140);
    padding: 2rem;
    border-radius: 2rem;
    color: white;
}
.avances_sitio .paleta #celeste{
    background-color: rgb(198, 234, 255);
    padding: 2rem;
    border-radius: 2rem;
}
.avances_sitio .paleta #celeste_claro{
    background-color: rgb(228, 243, 251);
    padding: 2rem;
    border-radius: 2rem;
}
.avances_sitio .paleta #naranja{
    background-color: #D98729;
    padding: 2rem;
    border-radius: 2rem;
    color: white;
}

.avances_sitio img{
    background-color: #00628c;
}

.avances_sitio .arbol{
    max-width: 40rem;
}

.avances_sitio h3{
    font-size: 1.5rem;
    color: #1c1c1c;
    margin-bottom: 0;
}
.avances_sitio .explicacion_arbol p{
    color: #1c1c1c;
    margin-top: 0;
}
.avances_sitio .roles{
    font-size: 1.25rem;
    padding-right: 3rem;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.avances_sitio h2{
    font-size: 2.5rem;
    color: #00628c;
    
}
.avances_sitio p{
    font-size: 1.5rem;
    margin: 3rem;
}
.avances_sitio .figma{
    font-size: 1.5rem;
    text-decoration: none;
    color: #1c1c1c;
}

/*Estilo de "Sitio"*/
.sitio{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #e7e7e7;
    border-radius: 2rem;
    
}
.sitio a{
    text-decoration: none;
    color: black;
    margin-bottom: 2rem;
}

.sitio .video{
    margin: 1rem;
    border-radius: 2rem;
}


footer{
    background-color: #00638C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    width: 100%;
    padding: 1rem;
    
    justify-content: center;
    margin-top: auto;
}


@media (max-width:768px){

    .hamburguesa,
    .cerrar-menu {
        display: block;
        border:0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .hamburguesa {
        color: #1c1c1c;
    }
    .cerrar-menu{
        color: white;
    }
   
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 1.67rem;
        background-color:#00638C;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav .nav-list {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .nav .nav-list li a {
        color: #ffffff;
    }

    header{
        width: 85%;
    }
    
    .grupo h1{
        text-align: center;
        font-size: 3rem;
        
    }
    .grupo img{
        max-width: 10rem;
    }

    .integrantes .img-top{
        flex-direction: column;
    }
    .integrantes .img-bottom{
        flex-direction: column;
    }

    .proyecto{
        margin: 2rem;
    }

    .avances_sitio{
        margin: 1rem;
    }
    .avances_sitio .propuesta{
        margin: 0;
    }
    .avances_sitio img{
        margin-bottom: 2rem;
    }
    .avances_sitio .paleta{
        flex-direction: column;
        gap: 1.5rem;
        margin: 5rem;
        margin-right: 7rem;
    }
    .avances_sitio .arbol{
        max-width: 20rem;
    }

    footer{
        width: 92%;
        text-align: center;
    }
}